<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>H+ 后台主题UI框架 - 主页</title>

    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台"/>
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术"/>

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/><![endif]-->

    <link rel="shortcut icon" href="favicon.ico"/>
    <link th:href="@{third/font-awesome-4.7.0/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{third/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{third/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
	<link th:href="@{css/style.css}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{third/layer/skin/default/layer.css}" id="layui_layer_skinlayercss" style=""/>
</head>
</html>